@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-classic: #FCFCFC;
  --color-title: #0F0F0F;
  --color-subtitle: #0B8A2A;
  --color-text: #0D0D0D;
  --color-reverse: #0D0D0D;
  --color-title-reverse: #F7F7F7;
  --color-subtitle-reverse: #0B8A2A;
  --color-text-reverse: #DEDEDE;
  --color-bgGrey: #E3E3E3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

h2{
  font-size: 36px;
  font-weight: 800;
}
h3{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5;
}
p{
  font-size: 16px;
  font-weight: 600;
}
